@import "define";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
}

html, body, code, kbd, samp, tt, pre, code,
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
}

html {
  font-size: 20px;
}

body {
  background-color: var(--color-site-back);
  color: var(--color-site-text);
  margin: 0;

  /* iOS Safari 11.2, Safari 11 */
  padding-top: constant(safe-area-inset-top);
  padding-bottom: constant(safe-area-inset-bottom);

  /* iOS Safari 11.4+, Safari 11.1+, Chrome 69+, Opera 56+ */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
